.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animação de flutuação */
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px); /* Define a quantidade que o objeto se move para cima */
  }
  100% {
      transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: float 5s infinite; /* Aplica a animação ao objeto com classe .App-logo */
    transition: transform 0.3s; /* Garante uma transição suave */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
